<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de inicio del formulario</title>
  </head>
  <body>
    <br />
    Nombre:
    <span th:text="${modelo.nombre}"></span>
    <br />
    Apellido:
    <span th:text="${modelo.apellido}"></span>
    <br />
    Edad:
    <span th:text="${modelo.edad}"></span>
    <br />
    Direccion:
    <span th:text="${modelo.direccion}"></span>
    <br />
    Telefono:
    <span th:text="${modelo.telefono}"></span>
    <div class="row">
      <button><a th:href="@{registro}">REGISTRAR PERSONA</a></button>
    </div>
  </body>
</html>
